<div class="form-group">
    <label>Select Batch</label>
    <select #val (click)="onChangeValue(val.value)"
      name="sel3">
      <option val=""> select Batches</option>
      <option  [value]="i.batchId" *ngFor="let i of batches">{{i.batchId}}</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" (click)="getStatus()">Primary</button>
  <div *ngIf="approvalCalendar">Technical Calendar {{approvalCalendar}}</div>
  <div *ngIf="approvalCurriculum">Curriculum Approved {{approvalCurriculum}}</div>