<div class="container-fluid addMockInterview">
  <h2>Registration Form</h2>

  <form [formGroup]="mockInterview" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Employee ID </label>
      <select formControlName="selectEmpId" class="form-control">
        <option value="">Employee ID</option>
        <option *ngFor="let empId of empIdList" [ngValue]="empId">{{empId}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Batch ID </label>
      <select formControlName="selectBatchId" class="form-control">
        <option value="">Batch ID</option>
        <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="interviewerName" class="formbold-form-label">Interviewer Name</label>
      <input type="text" formControlName="interviewerName" id="interviewerName" class="formbold-form-input" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="date">Date</label>
      <input type="date" formControlName="interviewDate" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"/>
    </div>
    <div class="form-group">
      <label for="interviewerTime" class="formbold-form-label">Interviewer Time</label>
      <input type="time" formControlName="interviewTime" id="interviewerTime" class="formbold-form-input" required>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>

  </form>