<div class="container-fluid addFeedback">
  <h2>Buddy Form</h2>

  <form [formGroup]="buddyForm" (ngSubmit)="onSubmit()">

    <div class="form-group givespace">
      <label>Graduate ID </label>
      <select formControlName="gradId" class="form-control"
        [class.is-invalid]="gradId?.invalid && gradId?.touched">
        <option value="">Grad Id</option>
        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.empId" *ngFor="let i of getEmpId">{{i.empId}}</option>
      </select>
      <!-- {{gradId?.invalid}} -->
      <div *ngIf="gradId?.invalid && gradId?.touched">

        <small class="text-danger" *ngIf="gradId?.errors?.['required']">Field required</small>
      </div>
    </div>

    <div class="form-group givespace">
      <label>Buddy Id</label>
      <select formControlName="buddyId" class="form-control">
        <option value="">Buddy Id</option>
        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.empId" *ngFor="let i of getBuddyEmpId">{{i.empId}}</option>
      </select>
      <!-- {{buddyId?.invalid}} -->
      <div *ngIf="buddyId?.invalid && buddyId?.touched">

      <small class="text-danger" *ngIf="buddyId?.errors?.['required']">Field required</small>
    </div>
    </div>


    <br>
    <button class="btn btn-primary" type="submit" [disabled]="!buddyForm.valid">Register</button>
  
  </form>
</div>
