<div class="container-fluid addFeedback">
  <h2>Registration Form</h2>

   <form [formGroup]="buddyForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Graduate ID </label>
      <select  formControlName="gradId" class="form-control">
        <option value="">Grad Id</option>
        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.empId" *ngFor="let i of getEmpId">{{i.empId}}</option>
      
      </select>
    </div>

    
    <div class="form-group">
      <label>Buddy Id</label>
      <select  formControlName="buddyId" class="form-control">
        <option value="">Buddy Id</option>
        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.empId" *ngFor="let i of getBuddyEmpId">{{i.empId}}</option>

      </select>
    </div>

   
    <button class="btn btn-primary" type="submit">Register</button> 

  </form>


