<!-- <div class="table">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Day </th>
      <td mat-cell *matCellDef="let element"> {{element.day}} </td>
    </ng-container>
  
    <ng-container matColumnDef="session">
      <th mat-header-cell *matHeaderCellDef> Session </th>
      <td mat-cell *matCellDef="let element"> {{element.session}} </td>
    </ng-container>
  
    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef> Topic </th>
      <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
    </ng-container>

    <ng-container matColumnDef="objectives">
      <th mat-header-cell *matHeaderCellDef> Objectives </th>
      <td mat-cell *matCellDef="let element"> {{element.objectives}} </td>
    </ng-container>

    <ng-container matColumnDef="trainer1">
      <th mat-header-cell *matHeaderCellDef> Trainer 1 </th>
      <td mat-cell *matCellDef="let element"> {{element.trainer1}} </td>
    </ng-container>

    <ng-container matColumnDef="trainer2">
      <th mat-header-cell *matHeaderCellDef> Trainer 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.trainer2}} </td>
    </ng-container>

    <ng-container matColumnDef="training_material">
      <th mat-header-cell *matHeaderCellDef> Training Material </th>
      <td mat-cell *matCellDef="let element"> {{element.training_material}} </td>
    </ng-container>

    <ng-container matColumnDef="exercise_material">
      <th mat-header-cell *matHeaderCellDef> Exercise Material </th>
      <td mat-cell *matCellDef="let element"> {{element.exercise_material}} </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>

</div> -->



<mat-table #table [dataSource]="dataSource">

  <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
    <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

