<p>home works grad from client Onboarding</p>

<!-- batch id -> dropdown
emp id -> dd
job id -> dd
interview time
block status -> 1
interview date -->

<div class="container-fluid addMockInterview">
  <h2>Registration Form</h2>

  <form [formGroup]="scheduleInterview" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Employee ID </label>
      <select formControlName="empId" class="form-control">
        <option value="">Employee ID</option>
        <option *ngFor="let empId of empIdList" [ngValue]="empId">{{empId}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Batch ID </label>
      <select formControlName="batchId" class="form-control">
        <option value="">Batch ID</option>
        <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Job ID </label>
      <select formControlName="jobId" class="form-control">
        <option value="">Job ID</option>
        <option *ngFor="let jobId of jobIdList" [ngValue]="jobId">{{jobId}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="date">Date</label>
      <input type="date" formControlName="interviewDate" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"/>
    </div>
    <div class="form-group">
      <label for="time" class="formbold-form-label">Interview Time</label>
      <input type="time" formControlName="time" id="interviewerTime" class="formbold-form-input" required>
    </div>
    <button class="btn btn-primary" type="submit">Schedule</button>

  </form>
