<mat-form-field>
    <mat-select placeholder="Batch">
     <mat-option *ngFor="let i of storeBatchName"[value]="i.batchName" (click)="filterData(i.batchName, i.batchId)">
             {{i.batchName}}
      </mat-option>
    </mat-select>
  </mat-form-field>


<div class="container">
  <div class="row">
    
      <div class="col-sm-4 py-2">
          <div class="card totalStudent">
              <div class="card-body">
                  <h1 class="card-title">TOTAL GRADUATE</h1>
                  <h1 class="card-title">
                    <span *ngIf="show">{{totalGrads}}</span>
                </h1>
            
              </div>
          </div>
      </div>
      <div class="col-sm-4 py-2">
        <div class="card ">
            <div class="card-body studentPlaced">
                <h1 class="card-title">PLACED</h1>
             
                    <span *ngIf="show">{{selectedGrads}}</span>
             
            
            </div>
        </div>
    </div>
    <div class="col-sm-4 py-2">
      <div class="card yetPlaced">
          <div class="card-body">
              <h1 class="card-title">NOT PLACED</h1>
            
                <span *ngIf="show">{{unplacedGrads}}</span>
        
        
              
          </div>
      </div>
  </div>
  <div class="col-sm-4 py-2">
    <div class="card">
        <div class="card-body Requirements">
            <h1 class="card-title">Requirements</h1>
                <span *ngIf="show">{{totalReq}}</span>    
        </div>
    </div>
</div>
  </div>
</div>