<!-- selectBatchId:[''],
      selectTopicId:[''],
      trainingTopicName:[''],
      trainingCalendarDate:Date,
      trainingSession:[''],
      trainingCalendarApprove:['']
       -->
<div class="container-fluid addFeedback">
    <h2>Technical Calendar Form</h2>
  
    <form [formGroup]="TechnicalCalendarForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Batch Name</label>
        <select  formControlName="batchName" class = "form-control">
          <option value="">Batch Name</option>
          <!-- <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option> -->
          <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option>
        </select>
        </div>
                <div class="form-group">
            <label>Training Topic Name</label>
            <select  formControlName="trainingTopicName" class = "form-control">
              <option value="">Training Topic Name</option>
              <!-- <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option> -->
              <option [value]="i.topicName" *ngFor="let i of getTopicName">{{i.topicName}}</option>
            </select>
            </div>
        <div class="form-group">
            <label>Training Calendar Date</label>
            <input type="date" formControlName="trainingCalendarDate" id="trainingCalendarDate" class="formbold-form-input" required>
        </div>
        <div class="form-group">
          <label>Training Session</label>
          <input type="text" formControlName="trainingSession" id="trainingSession" class="formbold-form-input" required>
      </div>

      <button class="btn btn-primary" type="submit">Register</button> 
  
    
    
    </form>
    </div>
  