<div class="flex">
    <div class="flex-container">
        <div class="others">
            <input type="button" class="inside" id="" value="Technical Manager">
        </div>
        <div class= "others">
            <input type="button" class="inside" id="" value="Technical Delivery">
        </div>
        <div class="others">
            <input type="button" class="inside" id="" value="Approval">
        </div>
        <div class="others">
            <input type="button" class="inside" id="" value="Graduate Manager">
        </div>
        <div class="others">
            <input type="button" class="inside" id="" value="Others">
        </div>
    </div>
</div>