<div class="container-fluid addMockInterview">
    <h2>Registration Form</h2>

    <!-- selectBatchId : [''],
    selectJobId : [''],
    noOfPositions : [''],
    stakeholder : [''],
    department : [''],
    location : [''],
    gender : [''] -->
   
  
    <form [formGroup]="clientRequirements" (ngSubmit)="onSubmit()">
  
     
  
      <div class="form-group">
        <label>Batch ID </label>
        <select formControlName="selectBatchId" class="form-control">
          <option value="">Batch ID</option>
          <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Job ID </label>
        <select formControlName="selectJobId" class="form-control">
          <option value="">Job ID</option>
          <option *ngFor="let jobId of jobIdList" [ngValue]="jobId">{{jobId}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="noOfPositions" class="formbold-form-label">Number of Openings</label>
        <input type="number" formControlName="noOfPositions" id="noOfPositions" class="formbold-form-input" required>
      </div>
      <div class="form-group">
        <label for="stakeholder" class="formbold-form-label">Stakeholder Name</label>
        <input type="text" formControlName="stakeholder" id="stakeholder" class="formbold-form-input" required>
      </div>
      <div class="form-group">
        <label for="department" class="formbold-form-label">Department Name</label>
        <input type="text" formControlName="department" id="department" class="formbold-form-input" required>
      </div>
      <div class="form-group">
        <label for="location" class="formbold-form-label">Location</label>
        <input type="text" formControlName="location" id="location" class="formbold-form-input" required>
      </div>
      <div class="form-group">
        <label for="gender" class="formbold-form-label">Gender</label>
        <input type="text" formControlName="gender" id="gender" class="formbold-form-input" required>
      </div>
    
      
      <button class="btn btn-primary" type="submit">Register</button>
  
    </form>
