<div class="addFeedback">
    <form [formGroup]="graduateFeedBack" (ngSubmit)="createFeedback()">
        <div class="form-group">
            <label for="sessionName" class="formbold-form-label">Session Name</label>
            <input type="text" formControlName="sessionName" id="sessionName" class="formbold-form-input" required>
        </div>

        <div>
            <label for="FeedBack" class="formbold-form-label"> Message </label>
            <textarea rows="6" name="message" id="FeedBack" placeholder="Type your message" class="formbold-form-input"
                formControlName="feedbackNote"></textarea>
        </div>

        <button type="submit" class="formbold-btn">Submit</button>
    </form>
</div>
