
<div class="container-fluid addFeedback">
  <h2>Mentors Form</h2>

  <form [formGroup]="MentorForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label>Batch Id</label>
      <select  formControlName="selectBatchId" class = "form-control">
        <option value="">Batch Id</option>
        <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option>
      </select>
      </div> -->
      <div class="form-group">
        <label>Emp Id Grad</label>
        <select  formControlName="empIdGrad" class = "form-control">
          <option value="">Emp Id Grad</option>
          <!-- <option *ngFor="let empIdGrad of empIdGradList" [ngValue]="empIdGrad">{{empIdGrad}}</option> -->
          <option [value]="i.empId" *ngFor="let i of getEmpId">{{i.empId}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Emp Id Mentor</label>
        <select  formControlName="empIdMentor" class = "form-control">
          <option value="">Emp Id Mentor</option>
          <!-- <option *ngFor="let empIdMentor of empIdMentorList" [ngValue]="empIdMentor">{{empIdMentor}}</option> -->
          <option [value]="i.empId" *ngFor="let i of getMentorEmpId">{{i.empId}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Client Project Name</label>
        <input type="text" formControlName="clientProjectName" id="clientProjectName" class="formbold-form-input" required>
    </div>

    <div class="form-group">
      <label>Stakeholder Name</label>
      <input type="text" formControlName="stakeholderName" id="stakeholderName" class="formbold-form-input" required>
  </div>
  <div class="form-group">
    <label>Client</label>
    <input type="text" formControlName="client" id="client" class="formbold-form-input" required>
</div>

    <button class="btn btn-primary" type="submit">Register</button> 
  
  </form>
</div>
  <!-- {{registrationForm.status | json}}
  {{registrationForm.value | json}}
</div> -->
