<div class="container-fluid addFeedback">
    <h2>Trannier Form</h2>
  
     <form [formGroup]="trannierAssignment" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label>Topic Name </label>
        <select  formControlName="topicName" class="form-control">
          <option value="">Select Topic</option>
          <option *ngFor="let topic of topicNameList" [ngValue]="topic">{{topic}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Trainer Name </label>
        <select  formControlName="trannierName" class="form-control">
          <option value="">Trainer Name</option>
          <option *ngFor="let trannier of trannierNameList" [ngValue]="trannier">{{trannier}}</option>
        </select>
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input type="date" formControlName="trannningDate" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" />
        <!-- ngbDatepicker #d="ngbDatepicker" -->
        <!-- <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Set Date</button> -->
    </div>
      
    <div class="form-group">
        <label for="sessionName" class="formbold-form-label">Session Name</label>
        <input type="text" formControlName="tranninngSession" id="tranninngSession" class="formbold-form-input" required>
    </div>

    <div>
        <label for="tranninngSession" class="formbold-form-label"> Tranning Objective </label>
        <textarea rows="4" name="message" id="tranninngSession" placeholder="Type Objective" class="formbold-form-input"
            formControlName="tranningObjective"></textarea>
    </div>

 
      <button class="btn btn-primary" type="submit">Register</button> 
  
    </form>
  
  
  