<p>home works! dashowork from technical MANAGER</p>
<app-shared-dash-board></app-shared-dash-board>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
      <app-shared-dash-board [bgClass]="'danger'" [icon]="'bookmarks'" 
      [count]="13" [label]="'New Tickets!'"></app-shared-dash-board>
    </div>
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
      <app-shared-dash-board [bgClass]="'danger'" [icon]="'bookmarks'" 
      [count]="13" [label]="'New Tickets!'"></app-shared-dash-board>
    </div>
  </div>
  