<div class="container-fluid ">
    <form [formGroup]="curriculumDesign" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Batch Name </label>
            <select formControlName="batchName" class="form-control">
                <option value="">Batch Name</option>
                <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="topicName" class="formbold-form-label">Session Name</label>
            <input type="text" formControlName="topicName"
                id="topicName" class="formbold-form-input" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>