<div class="container-fluid addMockInterview">
    <h2>Blocked Form</h2>
  
    <form [formGroup]="blocked" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Batch Name </label>
            
        <!-- <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option> -->
        <select formControlName="batchName" class="form-control"
        [class.is-invalid]="batchName?.invalid && batchName?.touched">
        <option value="">Batch Name</option>

        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option>
      </select>
      <!-- {{batchName?.invalid}} -->
      <div *ngIf="batchName?.invalid && batchName?.touched">

        <small class="text-danger" *ngIf="batchName?.errors?.['required']">Field
          is required</small>
      </div>
          </div>
      <div class="form-group">
        <label>Graduate ID </label>
       
        <!-- <option [value]="i.empId" *ngFor="let i of getEmpId">{{i.empId}}</option> -->
        <select formControlName="empId" class="form-control"
        [class.is-invalid]="empId?.invalid && empId?.touched">

        <option value="">Graduate ID</option>
        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.empId" *ngFor="let i of getEmployeeId">{{i.empId}}</option>
      </select>
      <!-- {{empId?.invalid}} -->
      <div *ngIf="empId?.invalid && empId?.touched">

        <small class="text-danger" *ngIf="empId?.errors?.['required']">Field 
          is required</small>
      </div>
      </div>

      <div class="form-group">
        <label>Job ID </label>
        <select formControlName="jobId" class="form-control"
        [class.is-invalid]="jobId?.invalid && jobId?.touched">
        <option value="">Job Id</option>
        <!-- <option *ngFor="let obj of here" [ngValue]="obj">{{obj}}</option> -->
        <option [value]="i.jobId" *ngFor="let i of getJobId">{{i.jobId}}</option>
      </select>
      <!-- {{jobId?.invalid}} -->
      <div *ngIf="jobId?.invalid && jobId?.touched">
  
        <small class="text-danger" *ngIf="jobId?.errors?.['required']">Field
          is required</small>
      </div>
      </div>
  
     <button class="btn btn-primary" type="submit"  [disabled]="!blocked.valid">Register</button>
  
    </form>
