
.mainTitle {
	text-align: center;
	font-size: 50px;
	padding: 50px;
	border: 100px;
}
.mainButton {
	display: flex;
	width: 50%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 20px;
}
.divOrganizer {
	height: 100%;
	margin: auto;
	width: 40%;
}
.divGraduate {
	height: 100%;
	margin: auto;
	width: 40%;
}
.orgainzerButton {
	height: 100%;
	width: 100%;
}
.graduateButton {
	height: 100%;
	width: 100%;
}
