<div class="container-fluid addFeedback">
    <h2>Project Assignment Form</h2>
  
    <form [formGroup]="projectAssignmentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Batch Name</label>
        <select  formControlName="batchName" class = "form-control">
          <option value="">Batch Name</option>
          <!-- <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option> -->
          <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option>
        </select>
        </div>
        <div class="form-group">
          <label>Team Number</label>
          <input type="number" formControlName="teamNumber" id="teamNumber" class="formbold-form-input" required>
      </div>
  
      <div class="form-group">
        <label>Employee Id</label>
        <input type="text" formControlName="empId" id="empId" class="formbold-form-input" required>
    </div>
    <div class="form-group">
      <label>Project Lead 1</label>
      <input type="text" formControlName="projectLead1" id="projectLead1" class="formbold-form-input" required>
  </div>
  <div class="form-group">
    <label>Project Lead 2</label>
    <input type="text" formControlName="projectLead2" id="projectLead2" class="formbold-form-input" required>
   </div>
   <div class="form-group">
    <label>Project Name</label>
    <input type="text" formControlName="projectName" id="projectName" class="formbold-form-input" required>
</div>

      <button class="btn btn-primary" type="submit">Register</button> 
    
    </form>
  </div>
  