<p>view-feedback works!</p>
<app-reuseable-table></app-reuseable-table>
<div class="addFeedback">
    <div *ngIf="tasks && tasks.length > 0; else noTasks">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Task</th>
            <th>Note</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let task of tasks">
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.note }}</td>
            <td>
  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #noTasks>
      <h2 class="feedbackStatus">No feedback given </h2>
    </ng-template>
  </div>