<div class="container-fluid addFeedback">
    <div class="form-group">
      <label>Select Batch</label>
      <select #Sel (change)="onChangeValue(Sel.value)"
        name="sel3">
        <option  *ngFor="let i of batches">{{i}}</option>
      </select>
    </div>
  <div> 
    <button type="button" class="btn btn-success" 
    (click)="sendApproval()">Success</button>
    <button type="button" class="btn btn-danger"
    (click)="sendDisApproval()">Danger</button>
 <app-view-curriculum ></app-view-curriculum>
  