<div class="container-fluid addFeedback">
  {{selectedBatch | json}}
  <form [formGroup]="addProject" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="projectName" class="formbold-form-label">Project Name</label>
      <input type="text" formControlName="projectName" id="projectName"
        class="formbold-form-input" required>
    </div>
    <div class="form-group">
      <label>Select Batch</label>
      <select formControlName="batch"  (ngModelChange)="onChangeValue($event)"
        name="sel3">
        <option [value]="i.batchId" *ngFor="let i of batches">{{i.batchId}}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
<div>
 