<div class="container-fluid addProjectCalendarInterview">
    <h2>Project Calendar</h2>
    <!-- teamNumber : [''],
    projectName : [''],
    evaluationDate : Date,
    projectProgress : [''],
    description : [''],
    selectBatchId : ['']
 }) -->
    <form [formGroup]="projectCalendar" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Batch Name </label>
            <select formControlName="batchName" class="form-control">
              <option value="">Batch Name</option>
              <!-- <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option> -->
              <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option>
            </select>
          </div>
        <div class="form-group">
            <label for="teamNumber" class="formbold-form-label">Team Number</label>
            <input type="number" formControlName="teamNumber" id="teamNumber" class="formbold-form-input" required>
          </div>
     
      <div class="form-group">
        <label for="projectName" class="formbold-form-label">Project Name</label>
        <input type="text" formControlName="projectName" id="projectName" class="formbold-form-input" required>
      </div>
      <div class="form-group">
        <label for="description" class="formbold-form-label">Type of Evaluation</label>
        <input type="text" formControlName="description" id="description" class="formbold-form-input" required>
      </div>
      <div class="form-group">
        <label class="control-label" for="date">Evaluation Date</label>
        <input type="date" formControlName="date" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"/>
      </div>

      <div class="form-group">
        <label for="projectProgress" class="formbold-form-label">Project Progress</label>
        <input type="text" formControlName="projectProgress" id="projectProgress" class="formbold-form-input" required>
      </div>
  
      <button class="btn btn-primary" type="submit">Register</button>
      
    
  
    </form>
