.mainTitle {
	font-size: 4rem;
	padding: 2rem;
    text-align: center;
}
.mainButton {
	display: flex;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
    width: 50%;
}
.divOrganizer {
	height: 100%;
	margin: auto;
	width: 40%;
}
.divGraduate {
	height: 100%;
	margin: auto;
	width: 40%;
}
.orgainzerButton {
	height: 100%;
	width: 100%;
}
.graduateButton {
	height: 100%;
	width: 100%;
}
