.mainDiv{
	background-image: url('/src/assets/img/validation.png')
}
.mainTitle {
	 
	margin: 10% 0 5% 0;
	color: red;
    font-size: 4vmax;
    font-weight: bold;
	text-align: center;
}

.mainButton {
	display: flex;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
    width: 50%;
}
.divOrganizer {
	height: 100%;
	margin: auto;
	width: 40%;
}
.divGraduate {
	height: 100%;
	margin: auto;
	width: 40%;
}
.orgainzerButton {
	height: 100%;
	width: 100%;
}
.graduateButton {
	height: 100%;
	width: 100%;
}
